html{
    background-color: #e1e4cc ;
    color: #303d3c;
    font-family: helvetica,arial, serif ;
    text-align:justify;
    line-height:1.2;
    margin:  0 auto;
    padding:0;
    width: 65%;
    font-size: 20px;
  }
  /* comment */
  h1, h2 {
    text-align: center;
    text-transform: capitalize;
    text-decoration:underline;
    color:rgb(0, 0, 0);
  }
  
  h1{
    font-size: 3em;
  }
  
  h2 {
    font-size: 1.7em;
  }
  
  #preamble {
    padding:15px;
    padding-top:0px;
    padding-bottom:0px;
    border-style:dotted;
    border-width:5px;
    border-right-width:10px;
    border-left-width:10px;
    border-color:rgb(107, 107, 156);
  }
  
  #subpreamble {
    letter-spacing:0.008em;
    word-spacing: 0.5px;
  }
  
  .ita {
    color:#020227;
    font-style:italic;
  }
  .bld {
    color:#02022c;
    font-weight:800;
  }
  .whitespaced{
    white-space: pre-wrap;
  }
  #form {
    color: #0f3a16;
  }
  #rawform {
    padding: 0 auto;
    font-size: inherit;
  }
  code{
      color:white;
  }
  #code1 {
    font-family:"Source Code Pro", Courier, monospace;
    background-color:#000000;
  }
  #metacode {
    background-color:#000000;
    overflow: auto;
    border-width: unset;
  }
  .precode{
      padding-left: 30px;
      padding-right: auto;
  }
  #code2{
    font-family:"Source Code Pro", Courier, monospace;
    font-size: 0.9em
  }
  .inputbox{
      width: 50%;
      height: 1.5em;
      font-size: 1em;
  }
  #textarea{
    height: 7em;
  }